.button {
	cursor: pointer;
	display: inline-block;
	font-family: 'Inter UI', Helvetica, Arial, sans-serif;
	margin-left: 15px;
	&.current {
		border-bottom: solid 1px @white;
		padding-bottom: 6px;
	}
	&.nav {
		// border: none;
		background: transparent;
	}
	&.outline {
	}
}
