.pill {
  display: inline-flex;
  &.tiny {
    background: #303030;
    border-radius: 3px;
    color: #909090;
    font-family: "Inter UI", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 3px;
    margin: 3px;
  }
}
