@media only screen and (min-width: @width-xs) and (min-height: @width-xs) {
  .skill-table {
    display: none;
  }
}

@media only screen and (min-width: @width-xs) {
  .skill-table {
    display: block;
    margin-bottom: 30px;
    position: relative;
    text-align: left;
  }
}

@media only screen and (min-width: @width-sm) {
}
@media only screen and (min-width: @width-md) {
}
@media only screen and (min-width: @width-lg) {
}
