.flash {
  -webkit-animation: fade-in 0.2s linear infinite alternate;
  -moz-animation: fade-in 0.2s linear infinite alternate;
  animation: fade-in 0.2s linear infinite alternate;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fade-in 1.5s ease;
  -moz-animation: fade-in 1.5s ease;
  animation: fade-in 1.5s ease;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 0) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji;
    font-size: 15px;
  }
  h1 {
    display: block;
    font-size: 39px;
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 1em;
    margin-bottom: 12px;
  }
  h2 {
    border-bottom: solid 1px #c8c8c8;
    display: block;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 12px;
  }
  h4 {
    border-bottom: solid 1px #303030;
    color: #303030;
    font-weight: 500;
    margin-bottom: 9px;
    padding-bottom: 6px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 168%;
  }
  b {
    font-weight: 400;
  }
}
button,
.button {
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji;
  transition: 90ms linear;
  transition-property: background, box-shadow, color;
}
button.nav,
.button.nav {
  border: none;
  border-radius: 3px;
  background: transparent;
  color: #c8c8c8;
  font-size: 15px;
  margin: 0 3px;
  padding: 12px 9px;
}
button.nav:hover,
.button.nav:hover {
  color: #fff;
}
button.nav.red,
.button.nav.red {
  background: #e64046;
  color: #fff;
  margin-left: 9px;
}
button.nav.red:hover,
.button.nav.red:hover {
  background: #b83338;
}
button.nav.red:active,
.button.nav.red:active {
  background: #8a262a;
}
button.nav.current,
.button.nav.current {
  border-bottom: solid 1px #ffffff;
  color: #fff;
}
@media only screen and (min-width: 0) {
  .marquee {
    background: #151515;
    color: #ffffff;
    height: 100vh;
    max-width: 100%;
    text-align: left;
  }
  .marquee .marquee-content {
    max-width: 600px;
    margin-top: 30px;
    margin-left: 18px;
    margin-right: 18px;
  }
  .marquee .marquee-content p {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji;
    font-weight: 100;
  }
  .marquee .marquee-nav {
    height: 42px;
    padding: 30px;
  }
  .marquee .marquee-nav .home {
    float: left;
  }
  .marquee .marquee-nav .links {
    display: inline-flex;
    float: right;
  }
}
@media only screen and (min-width: 544px) {
  .marquee .marquee-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}
.pill {
  display: inline-flex;
}
.pill.tiny {
  background: #303030;
  border-radius: 3px;
  color: #909090;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, Apple Color Emoji;
  font-size: 12px;
  padding: 3px;
  margin: 3px;
}
@media only screen and (min-width: 0) and (min-height: 0) {
  .skill-table {
    display: none;
  }
}
@media only screen and (min-width: 0) {
  .skill-table {
    display: block;
    margin-bottom: 30px;
    position: relative;
    text-align: left;
  }
}
@media only screen and (min-width: 0) {
  html,
  body {
    background: #151515;
    margin: 0;
    padding: 0;
  }
  content {
    width: 100%;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    top: 0;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .col {
    display: inline-block;
    max-width: 100%;
    width: 100%;
  }
  .col-image {
    background: url(https://i1.wp.com/photofocus.com/wp-content/uploads/2014/06/screen-shot-2014-06-18-at-5-09-59-pm.png?resize=1278%2C720&ssl=1);
    background-position: 0 120px;
    background-repeat: no-repeat;
  }
  .poster-text p {
    line-height: 1.5em;
  }
  .row {
    display: block;
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col {
    display: inline-block;
  }
  .col-text {
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-image {
    width: 64%;
    background: url(https://cdn.macrumors.com/article-new/2017/06/imac_pro_white_background.jpg);
    background-position: 0 120px;
    background-repeat: no-repeat;
  }
}
ul.navbar {
  height: 60px;
  text-align: center;
}
ul.navbar li {
  display: inline-block;
}
